.ul-class{
  list-style: none;
  padding: 0;
  margin:0;

}
.li-class {
  border-radius: 20px;
  border: 1px solid #9accdc;
  padding: 0.4em;
  background-color: #d3edf5;
  font-weight: bolder;
  font-size: 1.3em;
}
.li-class:hover{
  background-color: #eafaff;


}
.App {
  text-align: center;
  position: relative;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.Dropdown{
  position:absolute;


}

.punctuation-space {
  background-color: #d3edf5;
      border: 1px solid #9accdc;
      border-radius: 5px;
      width: 1em;
      display: inline-block;
      height: 1em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
